<!-- <h3>first user: {{firstUser}}</h3> -->
<div class="data">
  <button type="button" (click)="Open()">open</button>
<div class="model-wrap" *ngIf="filter">
    <div class="model-con-wrap">
  <input type="checkbox" (click)="show = !show">id<br>
  <input type="checkbox" (click)="show1 = !show1">name<br>
  <input type="checkbox" (click)="show2 = !show2">job<br>
  <button type="button" (click)="Close()">close</button>
</div>  
</div>     
</div>
  

<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>name </th>
      <th>job</th>
      <th>edit</th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;let i=index">
      <td *ngIf="show">{{user.id}}</td>
      <td *ngIf="show1">{{user.name}}</td>
      <td *ngIf="show2">{{user.job}}</td>
    
      <td><button type="button" (click)="edit(user,i)" class="btn btn-info">Edit</button></td>
      <td><input type="checkbox" (change)="remove(user,$event.target)">delete</td>  

    
    </tr>
    <!-- <tr>{{firstUser}}</tr>  -->
  </tbody>
</table>
 
<div class="model-wrap" *ngIf="editModel">
<div class="model-con-wrap">
    <span (click)="closeModel()">X</span>
    <div class="form-group">
      <label class="control-label col-sm-2">Id</label>
      <div class="col-sm-10">          
        <input type="text"  class="form-control"  [(ngModel)]="dialogId">  
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" >name</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" [(ngModel)]="dialogName">
      </div>
    </div>
     
    <button type="button" (click)="Update()">update</button>
</div>

</div>

<input type="checkbox" checked data-toggle="toggle">


<!-- <form>
  <input type="text" (change)="getValue($event)">
</form> -->