.model-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    height: -webkit-fill-available;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.51);
}
.model-con-wrap{
    width: 40%;
    background: #fff;
    padding: 2em;
    /* position: absolute;
    left: auto;
    position: absolute;
    left: 50%;
    top: 5%; */
}

.form-control {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}